<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.DemoMapper">
    <select id="selectAllDemoTable1Entity" resultType="com.example.demo.domain.DemoTable1Entity">
    	select * from table1
    </select>
</mapper>